{% extends 'base.html' %}
{% load static }
{% block title %}Chapters{% endblock %}

{% block body%}
    
    <div class="  my-4 mx-5 p-5 text-capitalize" style=" background:white;">
        <h5 >{{sub}}</h5>
        <div class="card">
        {% if user_posts %}
            {% for post in user_posts%}
           
                <div class="card-body">
                    <h6>{{post.desc}}    <a class="text-dark float-right" href="{% url 'profile2' post.user.username %}">  By {{post.user.username}}</a></h6>
                    
                    <a href="{{post.file_field.url}}" target="_blank" class="btn btn-outline-warning">View</a>
                    <a href="{{post.file_field.url}}" download class="btn btn-outline-info">Download</a>
                    
                </div>
            

            {% endfor %}
        {% else %}
            <div class="container">
                <h5>No Chapers Yet.</h5>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}